<div class="flex h-screen bg-gray-100">
  <aside class="w-64 bg-white shadow-md flex flex-col">
    <div class="p-4 border-b">
      <h1 class="text-2xl font-bold text-gray-800">📄 FaktuRead</h1>
    </div>
    <nav class="flex-1 p-4 space-y-2">
      <a
        routerLink="/dashboard/home"
        class="inline-flex items-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors h-10 px-4 py-2 w-full justify-start hover:bg-highlight hover:text-accent-foreground"
        routerLinkActive="bg-highlight text-accent-foreground"
      >
        <i class="pi pi-home mr-3"></i>
        Strona główna
      </a>
      <a
        routerLink="/dashboard/documents"
        class="inline-flex items-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors h-10 px-4 py-2 w-full justify-start hover:bg-highlight hover:text-accent-foreground"
        routerLinkActive="bg-highlight text-accent-foreground"
      >
        <i class="pi pi-file mr-3"></i>
        Dokumenty
      </a>
      <a
        routerLink="/dashboard/reports"
        class="inline-flex items-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors h-10 px-4 py-2 w-full justify-start hover:bg-highlight hover:text-accent-foreground"
        routerLinkActive="bg-highlight text-accent-foreground"
      >
        <i class="pi pi-chart-bar mr-3"></i>
        Raporty
      </a>
    </nav>
    <div class="p-4 border-t">
      <p-button
        icon="pi pi-user"
        label="John Doe"
        styleClass="w-full bg-white text-color border-white hover:bg-highlight hover:text-accent-foreground justify-start gap-4"
        (click)="menu.toggle($event)"
      ></p-button>
      <p-menu #menu [model]="items" [popup]="true" />
    </div>
  </aside>

  <div class="flex-1 flex flex-col">
    <header class="bg-white shadow-sm h-16 flex items-center"></header>
    <main class="flex-1 p-6 overflow-y-auto"><router-outlet /></main>
  </div>
</div>
