<h1 class="text-2xl font-bold mb-6 text-center">Zaloguj się</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4 w-full max-w-md">
  <div class="space-y-2">
    <label for="username" class="block font-semibold">Nazwa</label>
    <input
      id="username"
      pInputText
      formControlName="username"
      class="w-full"
      [ngClass]="{
        'ng-invalid ng-dirty':
          loginForm.controls.username.invalid && loginForm.controls.username.touched
      }"
    />
    @if (loginForm.controls.username.hasError('required') && loginForm.controls.username.touched) {
    <small class="block text-red-500">Nazwa jest wymagana.</small>
    }
  </div>

  <div class="space-y-2">
    <label for="password" class="block font-semibold">Hasło</label>
    <input
      id="password"
      type="password"
      pInputText
      formControlName="password"
      class="w-full"
      [ngClass]="{
        'ng-invalid ng-dirty':
          loginForm.controls.password.invalid && loginForm.controls.password.touched
      }"
    />
    @if (loginForm.controls.password.hasError('required') && loginForm.controls.password.touched) {
    <small class="block text-red-500">Hasło jest wymagane.</small>
    } @if (loginForm.controls.password.hasError('minlength') && loginForm.controls.password.touched)
    {
    <small class="block text-red-500">Hasło musi mieć co najmniej 6 znaków.</small>
    }
  </div>

  <button pButton type="submit" label="Zaloguj się" [loading]="isLoading()" class="w-full"></button>
</form>

@if (errorMessage) {
<p-message styleClass="mt-4" severity="error" size="small">{{ errorMessage }}</p-message>
}

<p class="mt-4 text-center">
  Nie masz konta?
  <a routerLink="/auth/register" class="text-blue-500 hover:underline cursor-pointer"
    >Zarejestruj się</a
  >
</p>
