<div class="space-y-6">
  <div class="flex justify-between items-center">
    <h1 class="text-3xl font-semibold text-gray-800">Faktury</h1>
  </div>

  <div class="space-y-2">
    <p-blockUI [blocked]="isLoading()" [target]="fileUpload">
      <ng-template #content>
        <div class="absolute inset-0 flex items-center justify-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </ng-template>
    </p-blockUI>
    <p-fileupload
      #fileUpload
      [customUpload]="true"
      (uploadHandler)="uploadInvoices($event)"
      [multiple]="true"
      maxFileSize="1000000"
      mode="advanced"
      chooseLabel="Dodaj faktury"
      uploadLabel="Wyślij"
      cancelLabel="Anuluj"
      styleClass="rounded-lg border text-card-foreground bg-white shadow-sm p-1"
    >
      <ng-template #empty>
        <div>Przeciągnij i upuść pliki tutaj, aby je przesłać.</div>
      </ng-template>
    </p-fileupload>
    <p-toast />
  </div>

  @if(uploadedInvoices.length > 0){
  <div class="rounded-lg border text-card-foreground bg-white shadow-sm">
    <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="text-2xl font-semibold leading-none tracking-tight">Przesłane faktury</h3>
    </div>
    <div class="p-6 pt-0">
      <p-table [value]="uploadedInvoices">
        <ng-template pTemplate="header">
          <tr>
            <th>Numer faktury</th>
            <th>NIP klienta</th>
            <th>Data wystawienia</th>
            <th>Data płatności</th>
            <th>Kwota</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
          <tr>
            <td>{{ invoice.invoice_number }}</td>
            <td>{{ invoice.customer_tax_id }}</td>
            <td>{{ invoice.invoice_date }}</td>
            <td>{{ invoice.due_date }}</td>
            <td>{{ invoice.total_amount | currency : 'PLN' : 'symbol-narrow' : '1.2-2' }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">Brak przesłanych faktur.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  }
</div>
